.NameBackground {
    background-color: teal;
}

.navbar-brand {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-left: 1rem;
}

.navTop {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 3rem;
}

.nav-link {
    color: darkslategray;
}

.container {
    background-color: white;
}

.display-4 {
    color: teal;
}

h1 {
    color: teal;
  
}

html body {
    background-color: lightgray;
}

.footer {
    font-size: 14px;
    padding-top: 11px;
    padding-left: 45%;
}

.btn-primary {
    background-color: teal;
   
}

.container-contact {
   padding-left: 1rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   margin-bottom: 10rem;
}

.container-about {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 10rem;
}

.container-portfolio {
    padding-top: 1rem;
    margin-bottom: 10rem;
}

h3 {
    position: relative;
    background-color: teal;
    top: -20%;
    text-align: center;
    color: white;
}

footer 
{ border-top: 10px solid teal; }
